# This file itself
.gitignore

# compiled files
*.out

# config files for IDES beginning with .
.*

# Compiled Object files
*.o

# executables
P1.1/test
P1.2/main
P1.1/.vscode/settings.json
P1.1/.vscode/launch.json
